<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fqedu.examsys.dao.PaperScoreDao">
    <select id="findAll" parameterType="map" resultType="paperScore">
        select
        a.sortId,d.sort_name,a.subId,e.course,a.id,a.paperName,a.startime,a.endtime,b.paperId,b.userId,b.short_score,
        c.username
        from t_paper a INNER JOIN t_sort d on a.sortId=d.id
        INNER JOIN t_subject e on a.subId=e.id
        INNER JOIN t_score b on a.id=b.paperId
        INNER JOIN user c on b.userId=c.id
        <where>
            1=1
            <if test="sortId !=null">
                and a.sortId=#{sortId}
            </if>
            <if test="subId !=null">
                and a.subId=#{subId}
            </if>
        </where>
    </select>
    <select id="findListBySubId" parameterType="int" resultType="paperScore">
        select a.sortId,d.sort_name,a.subId,e.course,a.id,a.paperName,a.startime,a.endtime,b.paperId,b.userId,b.short_score, c.username
        from t_paper a INNER JOIN t_sort d on a.sortId=d.id
					   INNER JOIN t_subject e on a.subId=e.id
                       INNER JOIN t_score b on a.id=b.paperId
                       INNER JOIN user c on b.userId=c.id
        where a.subId=#{subId}
    </select>
</mapper>