<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fqedu.examsys.dao.TRadioDao">
    <!--注释-->
    <insert id="insertTRadioAll" parameterType="java.util.List">
        insert INTO t_radio (topic,answer_A,answer_B,answer_C,answer_D,answer,sub_id)
        VALUES
        <foreach collection="list" item="tRadio" index="index" separator=",">
            (#{tRadio.topic},#{tRadio.answerA},#{tRadio.answerB},#{tRadio.answerC},
            #{tRadio.answerD},#{tRadio.answer},#{tRadio.subId})
        </foreach>
    </insert>
</mapper>